body {
  background-color: #ebebeb !important;
  width: 100%;
}




.page-link--1 {
  position: relative;
  display: block !important;
  padding: .5rem .75rem !important;
  margin-left: -1px;
  line-height: 1.25;
  color: #d6d6d6dc;
  background-color: rgba(36, 36, 36, 0.685);
  border: none !important;
}

.page-link--1:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.03);
}

.page-link--1:hover {
  z-index: 2;
  color: #a2a2a2;
  text-decoration: none;
  background-color: #505050;
  border-color: #000000;
}

.page-item--1:last-child .page-link--1 {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}


.timeline-item {
  padding: 12px;
  margin: 0 auto;
  max-width: 600px;
  min-height: 280px;
}


@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}



.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  min-height: 200px;
  height: 100% !important;
  position: relative;
}


/*
.sticky {
    position: sticky;
    top: 10px;
  } */

.text-size--22 {
  font-size: 22px !important;
}

.text-size--42 {
  font-size: 42px !important;
}

.nav-link {
  display: inherit;
  padding: 1.5rem 1rem !important;
}

.navbar-transparent {
  background-color: #f1f1f1 !important;
  opacity: 0.975;
}

.navbar-transparent a {
  font-weight: 600;
}

.carousel {
  width: 100%;
  padding: auto;
  margin: auto;
}

.carousel img {
  width: 100%;
}

.main-side--1 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

/* LISTS */

.list-marca-link a {
  font-weight: 500;
}

/* Card */

.card-vehicle-stock p.card-vehicle-title {
  font-weight: bold;
  font-size: 20px;
}

.card-vehicle-stock p.card-vehicle-title--2 {
  font-weight: bold;
  font-size: 22px;
}

.custom-card--2 {
  background-color: #333 !important;
}

.custom-card--2 h1,
.custom-card--2 p {
  color: #fff !important;
}

.custom-card--3 {
  background-color: #fff !important;
}

.custom-card--3 h1,
.custom-card--3 p {
  color: #333 !important;
}

.custom-list h2 {
  font-size: 14px;
  font-weight: bolder;
}

.custom-list li strong {
  font-size: 18px;
}

.bg-image--card--1 {
  background-image: url('../Images/urus.jpg');
  background-position: 50% 88%;
  border: none !important;
}

/* LIGHTBOX */

.col-div-lightbox {
  width: 100%;
}

.col-div-lightbox img.img-lightbox-custom {
  width: 33.33334% !important;
  padding: 0.2rem;
}

/* PAGINATION */

.pagination {
  cursor: default;
}





/* FOOTER */
.container-footer {
  background-color: rgb(160, 160, 160);
}

.container-footer
.list-footer--1 li a {
  color: rgba(0,0,0,.5);
  text-decoration: none;
  font-size: 16px;
}

.container-footer
.list-footer--2 li a {
  color: #fafafa !important;
  text-decoration: none;
  font-size: 22px;
}


.list-footer--1 li a:hover{
  color: #fafafa !important;
}
.list-footer--2 li a:hover {
  color: #dc3545 !important;
}


.list-footer--1 li {
  padding-bottom: 0.7rem !important;
  padding-top: 0.7rem !important;
}



